@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400;1,800&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #3872BB;
    font-size: 2em;
    text-align: center;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}


#header {
    position: fixed;
    top: 0;
    width: 100%;
}

p {
    font-size: 1.5em;
}

img {
    background-color: transparent;
}

.w3-btn, .w3-button {
    background-color: transparent;
}


button {
    max-width: 300px;
    width: 100%;
    height: auto;
    color: #000;
    background-color: transparent;
}

.service-icon:hover {
    background-color: #FAEB00;
}

#mySidebar {
  background-color: #ddd !important;
  color: #0172BC !important;
  min-width: 200px !important;
}

.container { 
  width:95%;
  max-width:980px
  ;padding:1% 2%;
  margin:0 auto; 
}

#description {
  padding: 10px;
}

#yes_no {
  background-color: #0172BC;
  max-width: 200px;
  margin-left: 10px;
  color: #fff;
}

/* @media only screen and (min-width: 601px) {
    #mobilemenu {
        display: none;
    }
} */

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
   #mapid, #map {
        max-height: 80vh;
   }
   #desktopmenu {
       display: none;
   }

   input {
     max-width: 300px;
   }

}

@media only screen and (min-width: 600px) {
    #mobilemenu {
        display: none;
    }
    #icon-container {
        margin-top: 145px;
    }
    .container {
      margin-top: 100px; 
    }

}


  /* styles from leaflet */
/* body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100vw;
} */

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #fff;
    position: relative;
    max-width: 1200px;
    margin: auto;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #0172BC;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  #myLinks {
    background-color: #ddd;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background:#fff;
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .topnav {
    color: #0172BC;
  }
  
  a.icon {
    color: #464646;

  }
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #fff;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    color: white;
    background-color: #fff;
  }