body {
    background-color: darkgray; 
 }
 button#medical-button {
     background: url('../static/images/medical.png');
     background-repeat: no-repeat;
     background-size: contain;
     width: 266px;
     height: 200px;
 }
 button#legal-button {
    background: url('../static/images/legal.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 266px;
    height: 200px;
}
button#religion-button {
    background: url('../static/images/religion.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 266px;
    height: 200px;
}