{% extends 'base.html' %}
{% block content %}
       <!-- !PAGE CONTENT! -->
        <div class="w3-main w3-content" style="max-width:1200px;margin-top:100px">
            <div class="w3-row-padding w3-padding-16 w3-center" id="services-row-1">
                <div class="w3-third button">
                    <form method="POST" action="/resource_view">
                        <button class="w3-button w3-padding-16" id="medical-button" value="hospital" name="service_type">
                            <img src="../static/images/hospital-ward-symbol.png" alt="Medical" class="fill-vertical fill-horizontal service-icon">
                            <p>Medical</p>
                        </button>
                    </form>
                </div>
                <div class="w3-third button">
                    <form method="POST" action="/resource_view">
                        <button class="w3-button w3-padding-16" id="legal-button" value="lawyer" name="service_type">
                            <img src="../static/images/legal_2.png" alt="Legal" class="fill-vertical fill-horizontal service-icon">
                            <p>Legal</p>
                        </button>
                    </form>
                </div>
                <div class="w3-third button">
                    <form method="POST" action="/resource_view">
                        <button class="w3-button w3-padding-16" id="religion-button" value="place_of_worship" name="service_type">
                            <img src="../static/images/religion-2.png" alt="Religious" class="fill-vertical fill-horizontal service-icon">
                            <p>Religious</p>
                        </button>
                    </form>
                </div>
            </div>
            <div class="w3-row-padding w3-padding-16 w3-center" id="services-row-2">
                <div class="w3-third button">
                    <form method="POST" action="/resource_view">
                        <button class="w3-button w3-padding-16" id="social-button" value="mental_health" name="service_type">
                            <img src="../static/images/mental-health.png" alt="Mental Health" class="fill-vertical fill-horizontal service-icon">
                             <p>Mental Health</p>
                        </button>
                    </form>
                </div>
                <div class="w3-third">
                    <!--<form method="POST" action="/resource_view">-->
                        <button class="w3-button w3-padding-16" id="government-button" value="" name="service_type">
                               <img src="../static/images/government.png" alt="Government" class="fill-vertical fill-horizontal service-icon">
                               <p>Government</p>
                        </button>
                    <!--</form>-->
                </div>
                <div class="w3-third">
                    <!--<form method="POST" action="/resource_view">-->
                        <button class="w3-button w3-padding-16" id="bank-button" value="" name="service_type">
                            <img src="../static/images/bank.png" alt="Other" class="fill-vertical fill-horizontal service-icon">
                            <p>Banking</p>
                        </button>
                    <!--</form>-->
                </div>
            </div>  
        </div>
{% endblock %}