<!doctype html>
<html>
    <head>
        <title>Refugee Resources</title>
        <link href="../static/style.css" rel="stylesheet">
    </head>

    <body>
        <header id="header">
            <div class="row" style="text-align:center">
                <h1>Refugee Resources (or other app name)</h1>
                <p>Select an icon below to find a service in your area.</p>
            </div>
        </header>
        <table align="center" style="width:50%">
            <tr>
                <th>    
                    <form method="POST" action="/resource_view">
                        <button id="medical-button" value="Medical" name="service_type"></button>
                    </form>
                </th>
                <th>
                    <form method="POST" action="/resource_view">
                        <button id="legal-button" value="Legal" name="service_type"></button>
                    </form>
                </th>
                <th>
                    <form method="POST" action="/resource_view">
                        <button id="religion-button" value="Religion" name="service_type"></button>
                    </form>
                </th>
            </tr>
            <tr>
                <th>
                    <form method="POST" action="/resource_view">
                        <button id="medical-button" value="Medical" name="service_type"></button>
                    </form>                </th>
                <th>
                    <form method="POST" action="/resource_view">
                        <button id="legal-button" value="Legal" name="service_type"></button>
                    </form>                </th>
                <th>
                    <form method="POST" action="/resource_view">
                        <button id="religion-button" value="Religion" name="service_type"></button>
                    </form>                </th>
            </tr>
        </table>
    </body>
    <hr />
    <footer align="center" id="footer">
        <p>Non-profits / Other Organizations: Click below to join out database of resources.</p>
        <img src="../static/images/non-profit.png" width="100px" height="100px">
    </footer>
</html>