<!doctype html>
<html>
    <head>
        <title>Refugee Resources</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <link href="../static/style.css" rel="stylesheet">
        <link href="../static/colors.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
        <style>
            .w3-bar-block .w3-bar-item {padding:20px}
            .w3-quarter img{margin-bottom: -6px; cursor: pointer}
            .w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
        </style>
    </head>
    <body>
        <!-- Sidebar (hidden by default) -->
        <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:20%;min-width:150px" id="mySidebar">
            <a href="javascript:void(0)" onclick="w3_close()"
            class="w3-bar-item w3-button">Find Resources</a>
            <a href="javascript:void(0)" onclick="w3_close()"
            class="w3-bar-item w3-button">For Organizations</a>
        </nav>
        <!-- Top menu -->
        <div class="w3-top">
            <div class="w3-white w3-xlarge w3-padding-16" style="max-width:1200px;margin:auto">
                <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
                <div class="w3-center w3-padding-16">Refugee Resources (or other app name)</div>
            </div>
        </div>
        
        <!-- !PAGE CONTENT! -->
        <div class="w3-main w3-content" style="max-width:1200px;margin-top:100px">
            <div class="w3-row-padding w3-padding-16 w3-center" id="services-row-1">
                <div class="w3-third">
                    <form method="POST" action="/resource_view">
                        <button class="w3-button w3-padding-16" id="medical-button" value="hospital" name="service_type">
                            <img src="../static/images/medical_pic.jpeg" class="fill-vertical fill-horizontal">
                        </button>
                    </form>
                    <p>Medical</p>
                </div>
                <div class="w3-third">
                    <form method="POST" action="/resource_view">
                        <button class="w3-button w3-padding-16" id="legal-button" value="lawyer" name="service_type">
                            <img src="../static/images/legal_pic.jpeg" class="fill-vertical fill-horizontal">
                        </button>
                    </form>
                    <p>Legal</p>
                </div>
                <div class="w3-third">
                    <form method="POST" action="/resource_view">
                        <button class="w3-button w3-padding-16" id="religion-button" value="place_of_worship" name="service_type">
                            <img src="../static/images/religions.jpg" class="fill-vertical fill-horizontal">
                        </button>
                    </form>
                    <p>Religious</p>
                </div>
            </div>
            <div class="w3-row-padding w3-padding-16 w3-center" id="services-row-2">
                <div class="w3-third">
                    <form method="POST" action="/resource_view">
                        <button class="w3-button w3-padding-16" id="social-button" value="mental_health" name="service_type">
                            <img src="../static/images/housing_pic.jpeg" class="fill-vertical fill-horizontal">
                        </button>
                    </form>
                    <p>Mental Health</p>
                </div>
                <div class="w3-third">
                    <!--<form method="POST" action="/resource_view">-->
                        <button class="w3-button w3-padding-16" id="government-button" value="" name="service_type">
                                <img src="../static/images/government_pic.jpeg" class="fill-vertical fill-horizontal">
                        </button>
                    <!--</form>-->
                    <p>Government</p>
                </div>
                <div class="w3-third">
                    <!--<form method="POST" action="/resource_view">-->
                        <button class="w3-button w3-padding-16" id="other-button" value="" name="service_type">
                            <img src="../static/images/other_pic.jpeg" class="fill-vertical fill-horizontal">
                        </button>
                    <!--</form>-->
                    <p>Other</p>
                </div>
            </div>
        </div>
        <script>
            // Script to open and close sidebar
            function w3_open() {
              document.getElementById("mySidebar").style.display = "block";
            }
             
            function w3_close() {
              document.getElementById("mySidebar").style.display = "none";
            }
        </script>
    </body>
    <!--
    <hr />
    <footer align="center" id="footer">
        <p>Non-profits / Other Organizations: Click below to join out database of resources.</p>
        <img src="../static/images/non-profit.png" width="100px" height="100px">
    </footer>
    -->
</html>