<!DOCTYPE html>
<html>
    <head>
        <title>Refugee Resources</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <link href="../static/style.css" rel="stylesheet">
        <link href="../static/colors.css" rel="stylesheet">
        <link href="../static/style2.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/jpg" href="../static/images/refugee-unhcr-yellow.png"/>
        <style>
            .w3-bar-block .w3-bar-item {padding:20px}
            .w3-quarter img{margin-bottom: -6px; cursor: pointer}
            .w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
        </style>
        <title>
            Resource Viewer
        </title>
    </head>
    <body>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </body>
</html>